!.gitignore
build
.gradle
gradle
eclipse
build.gradle
CREDITS-fml.txt
README.txt
forge-1.7.10-*
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-*.txt
/bin/
.classpath
.idea/
.metadata/
.project
.settings/
forge-1.iml
